<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
<h1>Список Клиентов</h1>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Имя</td>
        <td>Почта</td>
        <td>Телефон</td>
        <td>Операции</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.phone}"></td>
        <td> <a th:href="@{'/customers/edit/'+ ${customer.id}}">Редактированть</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">На главную</a>
<a th:href="@{/customers/add}"> Добавть Клииента </a>
</body>
</html>