<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
<h1>Добавить клиента</h1>
<form th:action="@{/customers/add}" method="POST">
    <input type="text" name="name" placeholder="введите имя"/>
    <input type="text" name="email" placeholder="введите почту"/>
    <input type="text" name="phone" placeholder="введите телефон"/>
    <input type="submit" value="Submit"/>
</form>
<br>
<a th:href="@{/}">На главную</a>
</body>
</html>